.message {
  display: flex;
  align-items: center;
  background-color: #ffc300;
  max-width: calc((100vw - 200px) / 2);
  width: fit-content;
  padding: 14px;
  min-width: 240px;
  border-radius: 12px;
  margin-bottom: 20px;
  box-shadow: 9px 11px 6px -8px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 9px 11px 6px -8px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 9px 11px 6px -8px rgba(0, 0, 0, 0.1);
}

.message.self {
  align-self: flex-start;
}

.message.other {
  align-self: flex-end;
  background-color: rgb(255, 195, 0, 0.3);
}

.message .avatar {
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 50px;
  margin-right: 25px;
}

.message h6 {
  font-size: 16px;
  font-weight: normal;
}

.message p {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
}
